<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ToDo</title>
  </head>

  <body>
    <div class="container login-container">
      <div class="card">
        <div class="card-content">
          <h1>Create Your VERY OWN Todolist!</h1>
          <a href="/login"> Login</a>
          |
          <a href="/signup"> Signup</a>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
